<%- include("partial/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/detail" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="cc">
        <label>Post</label>
        <textarea class="form-control" name="art" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partial/footer"); -%>