<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ae8f1db1af.js" crossorigin="anonymous"></script>
    <title>Webify | Playlist</title>
    <style>
       .row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(69, 103 , 163);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.container{
	max-width: 2020px;
	margin:auto;
}
p{
  color: #ffffff;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
        
        a:hover
{
    color: aqua;
    text-decoration: none;

}
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
       .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
background-color: #EAF4FE;
    /* margin: 26px;
    padding: 12px; */
    margin-top: -3vh;
    height: 600px;
  
    /* border: 2px solid black; */
  }
  
  .flex-item-left {
    background: transparent;
    padding: 18px;
    flex: 50%;
    margin: 3px;
    /* border: 2px solid black; */
  }
  
  .flex-item-right {
    background: transparent;
    padding: 18px;
    margin: 3px;
    /* border: 2px solid black; */
    flex: 50%;
  }
  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
   
  }
    </style>
  </head>
  <body style="width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light " >
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="/video" style="color: #0051ed; font-weight: bold; ">Courses</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" style="margin-left: 20vh; margin-top: 1vh; ">
              <a class="navbar-brand" href="/video" style="color: #0051ed; font-weight: bold; ">Videos</a>

            </li>
            <li class="nav-item  ml-auto" >
              <svg width="120" height="45" viewBox="0 0 166 46" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 45vh; margin-top:2vh; " >
<path d="M12.3516 29.8203L6.84375 7.92969V31.6484C6.84375 32.9609 6.54688 33.9453 5.95312 34.6016C5.375 35.2578 4.60156 35.5859 3.63281 35.5859C2.69531 35.5859 1.92969 35.2656 1.33594 34.625C0.742188 33.9688 0.445312 32.9766 0.445312 31.6484V4.46094C0.445312 2.96094 0.835938 1.95312 1.61719 1.4375C2.39844 0.90625 3.45312 0.640625 4.78125 0.640625H6.9375C8.23438 0.640625 9.17188 0.757812 9.75 0.992188C10.3438 1.22656 10.7812 1.64844 11.0625 2.25781C11.3438 2.86719 11.6641 3.85937 12.0234 5.23438L17.0156 24.0547L22.0078 5.23438C22.3672 3.85937 22.6875 2.86719 22.9688 2.25781C23.25 1.64844 23.6797 1.22656 24.2578 0.992188C24.8516 0.757812 25.7969 0.640625 27.0938 0.640625H29.25C30.5781 0.640625 31.6328 0.90625 32.4141 1.4375C33.1953 1.95312 33.5859 2.96094 33.5859 4.46094V31.6484C33.5859 32.9609 33.2891 33.9453 32.6953 34.6016C32.1172 35.2578 31.3359 35.5859 30.3516 35.5859C29.4297 35.5859 28.6719 35.2578 28.0781 34.6016C27.4844 33.9453 27.1875 32.9609 27.1875 31.6484V7.92969L21.6797 29.8203C21.3203 31.2422 21.0234 32.2891 20.7891 32.9609C20.5703 33.6172 20.1562 34.2188 19.5469 34.7656C18.9375 35.3125 18.0938 35.5859 17.0156 35.5859C16.2031 35.5859 15.5156 35.4062 14.9531 35.0469C14.3906 34.7031 13.9531 34.2578 13.6406 33.7109C13.3281 33.1641 13.0781 32.5625 12.8906 31.9062C12.7188 31.2344 12.5391 30.5391 12.3516 29.8203ZM58.1484 24.1484H45.6328C45.6484 25.6016 45.9375 26.8828 46.5 27.9922C47.0781 29.1016 47.8359 29.9375 48.7734 30.5C49.7266 31.0625 50.7734 31.3438 51.9141 31.3438C52.6797 31.3438 53.375 31.2578 54 31.0859C54.6406 30.8984 55.2578 30.6172 55.8516 30.2422C56.4453 29.8516 56.9922 29.4375 57.4922 29C57.9922 28.5625 58.6406 27.9688 59.4375 27.2188C59.7656 26.9375 60.2344 26.7969 60.8438 26.7969C61.5 26.7969 62.0312 26.9766 62.4375 27.3359C62.8438 27.6953 63.0469 28.2031 63.0469 28.8594C63.0469 29.4375 62.8203 30.1172 62.3672 30.8984C61.9141 31.6641 61.2266 32.4062 60.3047 33.125C59.3984 33.8281 58.25 34.4141 56.8594 34.8828C55.4844 35.3516 53.8984 35.5859 52.1016 35.5859C47.9922 35.5859 44.7969 34.4141 42.5156 32.0703C40.2344 29.7266 39.0938 26.5469 39.0938 22.5312C39.0938 20.6406 39.375 18.8906 39.9375 17.2812C40.5 15.6562 41.3203 14.2656 42.3984 13.1094C43.4766 11.9531 44.8047 11.0703 46.3828 10.4609C47.9609 9.83594 49.7109 9.52344 51.6328 9.52344C54.1328 9.52344 56.2734 10.0547 58.0547 11.1172C59.8516 12.1641 61.1953 13.5234 62.0859 15.1953C62.9766 16.8672 63.4219 18.5703 63.4219 20.3047C63.4219 21.9141 62.9609 22.9609 62.0391 23.4453C61.1172 23.9141 59.8203 24.1484 58.1484 24.1484ZM45.6328 20.5156H57.2344C57.0781 18.3281 56.4844 16.6953 55.4531 15.6172C54.4375 14.5234 53.0938 13.9766 51.4219 13.9766C49.8281 13.9766 48.5156 14.5312 47.4844 15.6406C46.4688 16.7344 45.8516 18.3594 45.6328 20.5156ZM74.6484 13.1094V13.8828C75.7734 12.3984 77 11.3125 78.3281 10.625C79.6719 9.92188 81.2109 9.57031 82.9453 9.57031C84.6328 9.57031 86.1406 9.9375 87.4688 10.6719C88.7969 11.4062 89.7891 12.4453 90.4453 13.7891C90.8672 14.5703 91.1406 15.4141 91.2656 16.3203C91.3906 17.2266 91.4531 18.3828 91.4531 19.7891V31.6953C91.4531 32.9766 91.1562 33.9453 90.5625 34.6016C89.9844 35.2578 89.2266 35.5859 88.2891 35.5859C87.3359 35.5859 86.5625 35.25 85.9688 34.5781C85.375 33.9062 85.0781 32.9453 85.0781 31.6953V21.0312C85.0781 18.9219 84.7812 17.3125 84.1875 16.2031C83.6094 15.0781 82.4453 14.5156 80.6953 14.5156C79.5547 14.5156 78.5156 14.8594 77.5781 15.5469C76.6406 16.2188 75.9531 17.1484 75.5156 18.3359C75.2031 19.2891 75.0469 21.0703 75.0469 23.6797V31.6953C75.0469 32.9922 74.7422 33.9688 74.1328 34.625C73.5391 35.2656 72.7656 35.5859 71.8125 35.5859C70.8906 35.5859 70.1328 35.25 69.5391 34.5781C68.9453 33.9062 68.6484 32.9453 68.6484 31.6953V13.2031C68.6484 11.9844 68.9141 11.0781 69.4453 10.4844C69.9766 9.875 70.7031 9.57031 71.625 9.57031C72.1875 9.57031 72.6953 9.70312 73.1484 9.96875C73.6016 10.2344 73.9609 10.6328 74.2266 11.1641C74.5078 11.6953 74.6484 12.3438 74.6484 13.1094ZM121.266 13.2031V31.6953C121.266 32.9766 120.961 33.9453 120.352 34.6016C119.742 35.2578 118.969 35.5859 118.031 35.5859C117.094 35.5859 116.328 35.25 115.734 34.5781C115.156 33.9062 114.867 32.9453 114.867 31.6953V13.3906C114.867 12.125 115.156 11.1719 115.734 10.5312C116.328 9.89062 117.094 9.57031 118.031 9.57031C118.969 9.57031 119.742 9.89062 120.352 10.5312C120.961 11.1719 121.266 12.0625 121.266 13.2031ZM118.102 6.59375C117.211 6.59375 116.445 6.32031 115.805 5.77344C115.18 5.22656 114.867 4.45313 114.867 3.45312C114.867 2.54687 115.188 1.80469 115.828 1.22656C116.484 0.632813 117.242 0.335938 118.102 0.335938C118.93 0.335938 119.664 0.601562 120.305 1.13281C120.945 1.66406 121.266 2.4375 121.266 3.45312C121.266 4.4375 120.953 5.21094 120.328 5.77344C119.703 6.32031 118.961 6.59375 118.102 6.59375ZM127.383 10.1328H128.906V8.21094C128.906 6.21094 129.156 4.625 129.656 3.45312C130.172 2.26562 131.031 1.40625 132.234 0.875C133.453 0.328125 135.117 0.0546875 137.227 0.0546875C140.961 0.0546875 142.828 0.96875 142.828 2.79688C142.828 3.39062 142.633 3.89844 142.242 4.32031C141.852 4.74219 141.391 4.95312 140.859 4.95312C140.609 4.95312 140.18 4.90625 139.57 4.8125C138.961 4.71875 138.445 4.67188 138.023 4.67188C136.867 4.67188 136.125 5.01562 135.797 5.70312C135.469 6.375 135.305 7.34375 135.305 8.60938V10.1328H136.875C139.312 10.1328 140.531 10.8672 140.531 12.3359C140.531 13.3828 140.203 14.0469 139.547 14.3281C138.906 14.6094 138.016 14.75 136.875 14.75H135.305V31.6953C135.305 32.9609 135 33.9297 134.391 34.6016C133.797 35.2578 133.023 35.5859 132.07 35.5859C131.164 35.5859 130.406 35.2578 129.797 34.6016C129.203 33.9297 128.906 32.9609 128.906 31.6953V14.75H127.148C126.195 14.75 125.461 14.5391 124.945 14.1172C124.43 13.6797 124.172 13.1172 124.172 12.4297C124.172 10.8984 125.242 10.1328 127.383 10.1328ZM149.789 36.3828L150.375 34.9531L142.5 15.125C142.016 13.9844 141.773 13.1562 141.773 12.6406C141.773 12.0938 141.914 11.5859 142.195 11.1172C142.477 10.6484 142.859 10.2734 143.344 9.99219C143.844 9.71094 144.359 9.57031 144.891 9.57031C145.812 9.57031 146.508 9.86719 146.977 10.4609C147.445 11.0391 147.859 11.875 148.219 12.9688L153.633 28.7188L158.766 14.0703C159.172 12.8828 159.539 11.9531 159.867 11.2812C160.195 10.6094 160.539 10.1562 160.898 9.92188C161.273 9.6875 161.797 9.57031 162.469 9.57031C162.953 9.57031 163.414 9.70312 163.852 9.96875C164.305 10.2188 164.648 10.5625 164.883 11C165.133 11.4375 165.258 11.8984 165.258 12.3828C165.195 12.6797 165.094 13.1016 164.953 13.6484C164.812 14.1953 164.641 14.75 164.438 15.3125L156.094 37.1562C155.375 39.0781 154.672 40.5859 153.984 41.6797C153.297 42.7734 152.383 43.6094 151.242 44.1875C150.117 44.7812 148.594 45.0781 146.672 45.0781C144.797 45.0781 143.391 44.875 142.453 44.4688C141.516 44.0625 141.047 43.3203 141.047 42.2422C141.047 41.5078 141.266 40.9375 141.703 40.5312C142.156 40.1406 142.82 39.9453 143.695 39.9453C144.039 39.9453 144.375 39.9922 144.703 40.0859C145.109 40.1797 145.461 40.2266 145.758 40.2266C146.492 40.2266 147.07 40.1172 147.492 39.8984C147.914 39.6797 148.289 39.2969 148.617 38.75C148.961 38.2188 149.352 37.4297 149.789 36.3828Z" fill="black"/>
<path d="M98.2031 10.1328H98.9062V6.28906C98.9062 5.25781 98.9297 4.45313 98.9766 3.875C99.0391 3.28125 99.1953 2.77344 99.4453 2.35156C99.6953 1.91406 100.055 1.5625 100.523 1.29688C100.992 1.01562 101.516 0.875 102.094 0.875C102.906 0.875 103.641 1.17969 104.297 1.78906C104.734 2.19531 105.008 2.69531 105.117 3.28906C105.242 3.86719 105.305 4.69531 105.305 5.77344V10.1328H107.648C108.555 10.1328 109.242 10.3516 109.711 10.7891C110.195 11.2109 110.438 11.7578 110.438 12.4297C110.438 13.2891 110.094 13.8906 109.406 14.2344C108.734 14.5781 107.766 14.75 106.5 14.75H105.305V26.5156C105.305 27.5156 105.336 28.2891 105.398 28.8359C105.477 29.3672 105.664 29.8047 105.961 30.1484C106.273 30.4766 106.773 30.6406 107.461 30.6406C107.836 30.6406 108.344 30.5781 108.984 30.4531C109.625 30.3125 110.125 30.2422 110.484 30.2422C111 30.2422 111.461 30.4531 111.867 30.875C112.289 31.2812 112.5 31.7891 112.5 32.3984C112.5 33.4297 111.938 34.2188 110.812 34.7656C109.688 35.3125 108.07 35.5859 105.961 35.5859C103.961 35.5859 102.445 35.25 101.414 34.5781C100.383 33.9062 99.7031 32.9766 99.375 31.7891C99.0625 30.6016 98.9062 29.0156 98.9062 27.0312V14.75H98.0625C97.1406 14.75 96.4375 14.5312 95.9531 14.0938C95.4688 13.6562 95.2266 13.1016 95.2266 12.4297C95.2266 11.7578 95.4766 11.2109 95.9766 10.7891C96.4922 10.3516 97.2344 10.1328 98.2031 10.1328Z" fill="#174BCF"/>
</svg>              </li>
            <div class="dropdown" style="margin-left: 200px; margin-top: 2vh;">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-bullhorn" style="color: #0051ed; font-size: 20px;">Alerts</i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li> <% for(var i=0;i<link.length;i++){  %>
                  <div class="spinner-grow text-success" role="status" >
                    <span class="visually-hidden">Loading...</span>
              </div><h2><%= link[i] %></h2>
                  <% } %></li>
                
              </ul>
            </div>
            <li class="nav-item  ml-auto" style="margin-top: 2vh; font-weight: bold;" >

              
              <a class="nav-link " href="#" style="margin-left: 15vh; color: #0051ed;" class="gradient-border" type="button"  d>Welcome User!</a>
            </li>
            <li class="nav-item ml-auto" style="margin-top: 2vh; font-weight: bold;">
              <a class="nav-link" href="/logout"  style="color: #0051ed;">Log Out </a>
            </li>
          </ul>
          <span class="navbar-text">
     
          </span>
        </div>
      </div>
    </nav>
      <hr>
      <!-- <div class="container">
      <div class="flex">
      <svg width="650" height="650" viewBox="0 0 979 705" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M309.041 298.113V220.213H307.791V299.313H452.668V298.113H309.041Z" fill="#B5CDFB"/>
  <path opacity="0.3" d="M108.013 89.7988H176.036V562.069H108.013V89.7988Z" fill="#B5CDFB"/>
  <path opacity="0.3" d="M187.667 89.7988H255.69V562.069H187.667V89.7988Z" fill="#B5CDFB"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M587.928 165.333H491.753V286.112H452.668V287.312H493.003V166.533H587.928V165.333Z" fill="#B5CDFB"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M309.04 208.214V149.06H307.791V208.214H309.04Z" fill="#B5CDFB"/>
  <path d="M626.494 267.062H878.196V299.219H626.494V267.062Z" fill="black"/>
  <path d="M826.849 613.007H471.21" stroke="#DFE2E4" stroke-width="1.01001" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M914.734 613.007H847.856" stroke="#DFE2E4" stroke-width="1.01001" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M914.227 346.483H669.122" stroke="#DFE2E4" stroke-width="1.24375" stroke-miterlimit="10"/>
  <path d="M62.6017 605.807C56.7265 599.153 59.2841 584.169 62.3263 584.169C67.3265 584.169 71.6085 601.453 71.6085 601.453C71.6085 601.453 77.7823 578.5 90.2804 567.699C90.2804 567.699 92.909 587.852 90.4088 598.652C90.4088 598.652 98.0132 581.806 108.012 585.406C108.012 585.406 100.247 612.427 98.4795 613.608" stroke="#DFE2E4" stroke-width="1.01001" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M859.553 613.14C859.553 613.14 867.355 590.069 864.485 572.494C854.216 578.286 849.814 584.859 849.814 584.859C849.814 584.859 848.754 578.5 836.256 567.699C836.256 567.699 833.628 587.852 836.128 598.652C831.51 592.546 826.121 587.483 818.524 585.406C818.524 585.406 823.368 612.609 835.434 613.007" stroke="#DFE2E4" stroke-width="1.01001" stroke-miterlimit="10" stroke-linecap="round"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M308.417 107.031C326.461 107.031 341.09 121.077 341.09 138.402C341.09 155.727 326.461 169.773 308.417 169.773C290.372 169.773 275.744 155.727 275.744 138.402C275.744 121.077 290.372 107.031 308.417 107.031ZM342.34 138.402C342.34 120.413 327.152 105.831 308.417 105.831C289.682 105.831 274.494 120.413 274.494 138.402C274.494 156.39 289.682 170.973 308.417 170.973C327.152 170.973 342.34 156.39 342.34 138.402Z" fill="#B5CDFB"/>
  <path d="M308.417 147.866C302.974 147.866 298.561 143.629 298.561 138.402C298.561 133.176 302.974 128.939 308.417 128.939C313.86 128.939 318.273 133.176 318.273 138.402C318.273 143.629 313.86 147.866 308.417 147.866Z" fill="black"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M535.951 217.458C541.049 217.458 545.181 221.428 545.181 226.323C545.181 231.218 541.049 235.186 535.951 235.186C530.851 235.186 526.719 231.218 526.719 226.323C526.719 221.428 530.851 217.458 535.951 217.458ZM546.431 226.323C546.431 220.764 541.739 216.259 535.951 216.259C530.161 216.259 525.469 220.764 525.469 226.323C525.469 231.88 530.161 236.385 535.951 236.385C541.739 236.385 546.431 231.88 546.431 226.323Z" fill="#B5CDFB"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M468.656 141.915H522.9V140.715H467.406V226.321H468.656V141.915Z" fill="#B5CDFB"/>
  <path d="M376.611 395.678L382.752 400.627L421.708 224.47L412.688 223.807C409.593 223.579 406.811 225.612 406.213 228.536L373.709 387.786C373.109 390.729 374.221 393.751 376.611 395.678Z" fill="black"/>
  <path d="M308.417 405.115C308.417 405.115 327.515 390.164 333.215 390.556C338.915 390.949 358.925 410.701 356.8 416.921C354.675 423.14 346.91 423.14 346.91 423.14C343.033 423.14 339.434 421.131 337.593 417.855C335.413 413.975 332.348 409.595 330.197 410.91C326.509 413.163 329.613 423.14 327.055 423.14C324.497 423.14 308.417 418.313 308.417 418.313V405.115Z" fill="#B08566"/>
  <path d="M176.036 346.71L197.58 397.974C199.648 403.93 208.079 415.583 214.555 414.71L292.639 407.884" stroke="#CCCCCC" stroke-width="39.8" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M187.595 319.054C186.92 313.57 186.57 308.71 187.07 306.79C188.12 302.734 197.919 303.418 202.93 304.042C204.692 304.258 205.867 304.474 205.867 304.474L203.781 301.005V300.994L203.767 300.982L185.932 271.389L155 267.285L164.462 285.957C167.173 299.158 152.263 319.642 152.263 319.642L191.144 341.387C191.144 341.387 188.833 329.147 187.595 319.054Z" fill="#C79775"/>
  <path d="M172.609 294.623C172.609 294.623 176.121 317.304 187.595 319.056C186.92 313.573 186.57 308.712 187.07 306.792C188.12 302.736 197.919 303.421 202.93 304.044L203.781 301.008V300.995L203.767 300.984L186.658 292.02L172.609 294.623Z" fill="#7D4921"/>
  <path d="M221.677 268.139C222.359 268.139 223.016 267.78 223.347 267.159C223.82 266.274 223.455 265.189 222.534 264.736L216.886 261.96C215.966 261.506 214.835 261.856 214.363 262.742C213.89 263.627 214.256 264.711 215.178 265.163L220.824 267.94C221.098 268.075 221.389 268.139 221.677 268.139Z" fill="#383838"/>
  <path d="M217.261 281.197C220.899 281.197 223.93 276.31 224.36 269.662C224.556 266.623 224.146 263.713 223.203 261.465C222.14 258.927 220.492 257.465 218.562 257.351C214.827 257.124 211.663 262.083 211.222 268.878C210.782 275.673 213.274 280.966 217.018 281.19C217.099 281.194 217.18 281.197 217.261 281.197ZM218.325 259.744C218.354 259.744 218.381 259.745 218.407 259.746C219.295 259.799 220.221 260.776 220.884 262.361C221.691 264.284 222.04 266.824 221.865 269.514C221.512 274.966 219.132 278.929 217.173 278.794C215.25 278.68 213.363 274.478 213.717 269.027C214.066 263.654 216.416 259.744 218.325 259.744Z" fill="#91826C"/>
  <path d="M209.094 236.521C209.094 236.521 212.535 252.906 205.77 255.241C199.005 257.575 165.24 243.785 165.24 243.785L199.556 233.711L209.094 236.521Z" fill="#91826C"/>
  <path d="M206.174 248.965C206.174 248.965 220.649 275.396 209.185 303.528C208.503 305.203 206.795 306.282 204.923 306.235C198.502 306.072 180.215 302.319 170.583 295.428L168.199 286.379L154.141 265.471C154.141 265.471 149.44 246.946 165.239 243.784C181.039 240.622 202.223 237.156 206.174 248.965Z" fill="#C79775"/>
  <path d="M210.93 292.744C205.828 293.768 203.776 289.12 203.776 289.12" stroke="#383838" stroke-width="1.24375" stroke-miterlimit="10"/>
  <path d="M147.483 269.644C143.934 280.037 165.205 293.08 169.518 283.204C169.743 282.688 169.105 280.769 168.281 278.285C166.243 264.556 178.717 266.02 179.204 270.424C179.329 271.54 182.515 280.085 186.065 278.057C188.327 276.772 187.09 273.46 187.602 264.952C191.314 262.18 193.339 256.948 194.439 252.256C202.275 251.343 209.799 249.807 212.061 248.308C215.311 246.159 222.922 235.972 214.86 222.039C207.974 210.146 153.845 227.715 152.995 240.88C140.685 240.148 148.833 264.519 147.859 268.492C147.734 268.876 147.609 269.259 147.483 269.644Z" fill="black"/>
  <path d="M211.403 267.287C211.403 267.287 221.596 281.856 221.114 283.853C220.633 285.851 210.929 284.481 210.929 284.481" fill="#C79775"/>
  <path d="M178.531 274.389C178.531 274.389 173.438 266.059 170.721 272.393C168.555 277.442 173.176 286.558 176.335 285.295C179.423 284.058 174.91 278.027 174.91 278.027" stroke="#383838" stroke-width="1.24375" stroke-miterlimit="10"/>
  <path d="M195.742 269.794C196.029 269.794 196.321 269.731 196.595 269.596L203.585 266.16C204.506 265.706 204.871 264.622 204.399 263.737C203.926 262.852 202.796 262.502 201.875 262.956L194.886 266.391C193.965 266.845 193.599 267.93 194.071 268.814C194.404 269.436 195.06 269.794 195.742 269.794Z" fill="#383838"/>
  <path d="M202.291 285.837C206.834 285.837 210.67 280.728 211.108 273.988C211.315 270.776 210.692 267.694 209.356 265.308C207.93 262.766 205.862 261.289 203.527 261.149C198.834 260.879 194.798 266.07 194.35 272.987C193.902 279.906 197.232 285.545 201.928 285.827C202.05 285.834 202.171 285.837 202.291 285.837ZM203.178 263.158C203.252 263.158 203.324 263.161 203.397 263.166C204.979 263.26 206.437 264.361 207.503 266.264C208.658 268.323 209.193 271.022 209.008 273.863C208.646 279.458 205.462 284.029 202.059 283.81C198.655 283.607 196.087 278.708 196.449 273.113C196.803 267.639 199.858 263.158 203.178 263.158Z" fill="#91826C"/>
  <path d="M203.248 275.028C202.2 275.028 201.35 274.213 201.35 273.206C201.35 272.2 202.2 271.385 203.248 271.385C204.295 271.385 205.146 272.2 205.146 273.206C205.146 274.213 204.295 275.028 203.248 275.028Z" fill="#383838"/>
  <path d="M217.792 272.674C216.897 272.674 216.173 271.977 216.173 271.118C216.173 270.259 216.897 269.563 217.792 269.563C218.687 269.563 219.412 270.259 219.412 271.118C219.412 271.977 218.687 272.674 217.792 272.674Z" fill="#383838"/>
  <path d="M176.036 274.799C176.036 274.799 175.097 273.61 173.829 274.136" stroke="#383838" stroke-width="1.24375" stroke-miterlimit="10"/>
  <path d="M404.251 421.9H410.499L422.777 343.006L401.306 328.364V331.927L416.527 345.491L404.251 421.9Z" fill="#001E6C"/>
  <path d="M242.492 567.699L227.516 611.683C227.516 611.683 298.707 613.349 299.846 610.797C300.985 608.245 267.027 594.805 246.51 596.228L255.3 577.425L242.492 567.699Z" fill="black"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M322.436 463.29C331.172 444.109 312.819 423.779 291.804 429.361L166.479 462.639C156.5 465.289 150.647 475.204 153.406 484.787C156.167 494.367 166.493 499.987 176.473 497.338L277.551 470.497L233.963 560.08C229.581 569.087 233.633 579.801 243.014 584.008C252.394 588.216 263.551 584.325 267.934 575.318L322.343 463.494L322.436 463.29Z" fill="#001E6C"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M322.436 463.29C331.172 444.109 312.819 423.779 291.804 429.361L166.479 462.639C156.5 465.289 150.647 475.204 153.406 484.787C156.167 494.367 166.493 499.987 176.473 497.338L277.551 470.497L233.963 560.08C229.581 569.087 233.633 579.801 243.014 584.008C252.394 588.216 263.551 584.325 267.934 575.318L322.343 463.494L322.436 463.29Z" fill="black" fill-opacity="0.15"/>
  <path d="M371.462 587.627L403.696 609.406C403.696 609.406 408.507 603.994 415.305 596.242C417.956 593.23 420.905 589.858 423.991 586.306C440.227 567.669 460.174 544.305 459.536 542.77C458.611 540.549 422.279 563.23 405.395 578.338C402.595 580.834 400.346 583.126 398.858 585.058L384.111 574.149L378.987 570.358L377.575 573.61L375.099 579.273L371.462 587.627Z" fill="black"/>
  <path opacity="0.2" d="M374.366 580.958C374.366 580.958 402.135 590.747 407.169 593.685C412.204 596.623 414.038 597.694 414.038 597.694C416.688 594.681 419.435 591.542 422.521 587.99C417.306 583.617 411.571 580.46 405.396 578.338C402.597 580.834 400.347 583.126 398.86 585.058L384.113 574.149L377.575 573.61L374.366 580.958Z" fill="black"/>
  <path d="M164.909 446.449L125.271 442.586C125.271 442.586 113.112 373.108 125.271 349.268C138.26 331.122 147.091 322.447 152.333 316.303C153.489 314.948 155.434 314.494 157.102 315.203L192.235 330.124C192.235 330.124 209.398 348.895 206.959 372.032C204.521 395.168 206.948 454.76 206.948 454.76L164.909 446.449Z" fill="#E6E6E6"/>
  <path d="M206.498 449.81C206.497 449.81 206.497 449.81 206.497 449.809L206.498 449.81ZM206.335 449.741C206.28 449.721 206.211 449.699 206.124 449.674C205.676 449.548 204.959 449.413 203.985 449.272C202.047 448.991 199.199 448.702 195.703 448.4C190.91 447.984 184.932 447.547 178.478 447.075C175.525 446.859 172.473 446.636 169.389 446.404C159.572 445.665 149.441 444.842 141.221 443.897C137.112 443.424 133.47 442.92 130.58 442.378C128.149 441.924 126.185 441.431 124.923 440.883C124.919 440.902 124.916 440.92 124.912 440.939C124.841 441.303 124.791 441.827 124.77 442.505C124.727 443.857 124.802 445.745 125.005 448.021C125.41 452.569 126.323 458.62 127.809 464.944C129.295 471.271 131.35 477.849 134.031 483.462C136.709 489.065 139.976 493.63 143.856 496.062C149.174 498.009 155.719 497.769 162.612 496.252C169.521 494.733 176.71 491.946 183.235 488.896C189.757 485.848 195.598 482.543 199.81 480.002C201.915 478.731 203.613 477.652 204.782 476.891C205.367 476.51 205.82 476.208 206.126 476.002C206.206 475.949 206.275 475.902 206.335 475.862V449.741ZM125.043 440.51C125.043 440.51 125.042 440.511 125.041 440.514C125.042 440.511 125.043 440.51 125.043 440.51Z" fill="#001E6C" stroke="#DFE2E4" stroke-width="1.24375"/>
  <path d="M152.428 613.007H206.169C208.241 613.007 209.919 611.395 209.919 609.407C209.919 607.419 208.241 605.807 206.169 605.807H150.225L152.428 613.007Z" fill="#001E6C"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M294.364 470.883C287.302 463.675 277.452 459.587 267.144 459.587H156.092C144.358 459.587 134.846 468.72 134.846 479.987C134.846 491.254 144.358 500.388 156.092 500.388H264.929L352.018 589.291C360.057 597.498 373.504 597.894 382.052 590.174C390.598 582.455 391.011 569.544 382.971 561.337L294.364 470.883Z" fill="#001E6C"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M294.364 470.883C287.302 463.675 277.452 459.587 267.144 459.587H156.092C144.358 459.587 134.846 468.72 134.846 479.987C134.846 491.254 144.358 500.388 156.092 500.388H264.929L352.018 589.291C360.057 597.498 373.504 597.894 382.052 590.174C390.598 582.455 391.011 569.544 382.971 561.337L294.364 470.883Z" fill="#001E6C"/>
  <path d="M134.716 501.115H247.2C249.27 501.115 250.948 502.727 250.948 504.715C250.948 506.703 249.27 508.315 247.2 508.315H134.716V501.115Z" fill="#001E6C"/>
  <path d="M151.805 613.09L91.4928 334.747C91.0743 332.815 92.3544 330.919 94.3626 330.497C96.4001 330.07 98.4095 331.321 98.8341 333.281L159.131 611.552L151.805 613.09Z" fill="#001E6C"/>
  <path d="M122.28 449.522H220.827C224.961 449.522 228.311 452.74 228.311 456.709C228.311 460.677 224.961 463.894 220.827 463.894H122.28V449.522Z" fill="#001E6C"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M151.806 613.09L150.229 605.813L150.227 605.807H150.228L91.4932 334.747C91.0747 332.816 92.3548 330.919 94.3629 330.497C96.4005 330.07 98.4099 331.321 98.8345 333.281L124.022 449.524H220.828C224.961 449.524 228.312 452.741 228.312 456.709C228.312 460.677 224.961 463.894 220.828 463.894H127.136L135.202 501.114H247.201C249.271 501.114 250.95 502.727 250.95 504.715C250.95 506.703 249.271 508.315 247.201 508.315H136.762L157.886 605.807H206.172C208.242 605.807 209.92 607.419 209.92 609.407C209.92 611.395 208.242 613.007 206.172 613.007H152.43L152.415 612.962L151.806 613.09Z" fill="white" fill-opacity="0.21"/>
  <path d="M360.618 427.003H434.56V417.145C434.56 415.664 433.176 414.54 431.657 414.783L362.699 424.648C361.498 424.841 360.618 425.84 360.618 427.009V427.003Z" fill="#001E6C"/>
  <path d="M385.485 401.94C388.599 402.526 391.618 400.577 392.229 397.588L426.242 230.942C426.852 227.952 424.823 225.053 421.709 224.467C418.594 223.881 415.576 225.83 414.965 228.82L380.951 395.465C380.34 398.455 382.37 401.355 385.485 401.94Z" fill="#001E6C"/>
  <path d="M303.286 423.141H356.08V426.557H303.286V423.141Z" fill="#001E6C"/>
  <path d="M292.639 401.068C292.639 401.068 311.737 386.118 317.437 386.51C323.137 386.902 348.858 414.658 346.732 420.879C344.608 427.099 336.142 423.141 336.142 423.141C332.265 423.141 325.219 421.373 323.378 418.098C321.197 414.218 310.975 423.141 308.418 423.141C303.285 423.141 292.639 414.268 292.639 414.268V401.068Z" fill="#C79775"/>
  <path d="M156.092 356.934L175.858 413.868C177.926 419.824 186.357 431.477 192.832 430.604L281.74 410.361" stroke="#F2F2F2" stroke-width="39.8" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M308.156 613.62C308.156 615.275 309.556 616.608 311.28 616.608C365.972 616.451 406.279 615.984 413.989 615.42C417.327 615.167 419.939 614.22 421.976 612.515C426.801 608.472 427.163 601.391 426.675 598.224C425.351 589.536 414.565 585.887 403.129 582.023C397.518 580.114 391.718 578.159 386.506 575.531C361.748 563.063 342.4 532.714 346.713 513.082C350.162 497.362 369.072 488.001 387.356 478.953C405.916 469.761 435.061 461.085 432.975 445.952C432.412 441.932 430.899 437.996 428.425 434.204H400.517C404.217 437.588 407.991 441.548 409.165 446.456C411.052 454.34 401.754 465.069 384.495 473.624C365.821 482.864 344.663 493.341 340.601 511.846C338.139 523.054 341.726 536.818 350.712 550.607C359.148 563.542 371.134 574.559 383.606 580.846C389.218 583.666 395.231 585.707 401.054 587.674C410.652 590.927 419.714 593.986 420.489 599.087C420.789 601.031 420.539 605.759 417.876 607.991C416.876 608.82 415.452 609.287 413.502 609.432C405.941 609.996 365.809 610.452 311.268 610.607C309.544 610.607 308.144 611.964 308.156 613.62Z" fill="black"/>
  <path opacity="0.71" d="M257.413 427.003H461.132V434.204H257.413V427.003Z" fill="#B5CDFB"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M105.507 280.682L114.662 316.349L129.194 312.911L112.457 247.705C111.468 243.852 107.414 241.497 103.401 242.448C99.3869 243.397 96.9358 247.29 97.9246 251.143L104.905 278.338L92.5768 279.948L107.997 346.967C108.147 347.615 108.814 348.024 109.488 347.88C110.162 347.737 110.588 347.097 110.439 346.449L95.6032 281.975L105.507 280.682Z" fill="#001E6C"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M105.507 280.682L114.662 316.349L129.194 312.911L112.457 247.705C111.468 243.852 107.414 241.497 103.401 242.448C99.3869 243.397 96.9358 247.29 97.9246 251.143L104.905 278.338L92.5768 279.948L107.997 346.967C108.147 347.615 108.814 348.024 109.488 347.88C110.162 347.737 110.588 347.097 110.439 346.449L95.6032 281.975L105.507 280.682Z" fill="white" fill-opacity="0.21"/>
  <path d="M158.18 520.063H145.736L160.864 585.812" stroke="#DFE2E4" stroke-width="1.01001" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M80.0651 612.217H12.2375" stroke="#DFE2E4" stroke-width="1.01001" stroke-miterlimit="10" stroke-linecap="round"/>
  <path d="M209.919 612.217H104.015" stroke="#DFE2E4" stroke-width="1.01001" stroke-miterlimit="10" stroke-linecap="round"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M535.949 226.924H700.076V225.724H535.949V226.924Z" fill="#B5CDFB"/>
  <path d="M392.921 88.3921H663.172V102.228H392.921V88.3921Z" fill="black"/>
  <path d="M216.03 138.402H80.0641" stroke="#78D2EE" stroke-width="1.24375" stroke-miterlimit="10"/>
  <path d="M216.03 128.939H80.0641" stroke="#78D2EE" stroke-width="1.24375" stroke-miterlimit="10"/>
  <path d="M812.226 216.859V192.999H786.097" stroke="#DFE2E4" stroke-width="1.24375" stroke-miterlimit="10"/>
  <path d="M587.928 443.601V515.502" stroke="#DFE2E4" stroke-width="1.24375" stroke-miterlimit="10"/>
  <path d="M444.26 613.608C444.26 613.608 466.131 590.653 461.132 590.653C456.133 590.653 442.385 601.453 442.385 601.453C442.385 601.453 436.21 578.5 423.712 567.699C423.712 567.699 421.085 587.852 423.584 598.652C423.584 598.652 415.979 581.806 405.981 585.406C405.981 585.406 413.747 612.427 415.514 613.608" stroke="#DFE2E4" stroke-width="1.01001" stroke-miterlimit="10" stroke-linecap="round"/>
  </svg>
<h2 style="">Learn Full Stack development With us</h2>

</div>
</div> -->
<div class="flex-container " >
    <div class="flex-item-left " data-aos="fade-right">
        <svg width="600" height="600" viewBox="0 0 1243 699" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.1" d="M617.81 694.599C771.305 694.599 895.737 678.632 895.737 658.937C895.737 639.241 771.305 623.275 617.81 623.275C464.315 623.275 339.883 639.241 339.883 658.937C339.883 678.632 464.315 694.599 617.81 694.599Z" fill="#34C3EA"/>
            <path d="M657.495 407.362H578.125V648.387H657.495V407.362Z" fill="#0B4870"/>
            <path d="M304.017 530.593H976.985C980.416 530.593 983.2 527.81 983.2 524.379V53.4604C983.2 50.0301 980.416 47.2471 976.985 47.2471H304.017C300.586 47.2471 297.802 50.0301 297.802 53.4604V524.444C297.802 527.874 300.586 530.593 304.017 530.593Z" fill="#0E538C"/>
            <path d="M595.669 505.804C595.669 518.036 605.574 527.939 617.81 527.939C630.046 527.939 639.951 518.036 639.951 505.804C639.951 493.571 630.046 483.734 617.81 483.734C605.574 483.669 595.669 493.571 595.669 505.804Z" fill="#163C47"/>
            <path d="M796.362 619.715H439.258V658.937H796.362V619.715Z" fill="#0E538C"/>
            <path d="M310.102 452.085L945.845 452.085V80.2558L310.102 80.2558V452.085Z" fill="#CCE9FF"/>
            <path d="M906.289 114.817H327V150.415H906.289V114.817Z" fill="#2A94F4"/>
            <path d="M906.289 150.415H327V369.952H906.289V150.415Z" fill="#F7F7F7"/>
            <path d="M577.865 280.83H310.232V431.697H577.865V280.83Z" fill="#31A1F4"/>
            <path d="M581.75 265.879H310.232V280.83H581.75V265.879Z" fill="#D3D3D3"/>
            <path d="M537.598 300.505H432.979V302.318H537.598V300.505Z" fill="white"/>
            <path d="M560.256 293.774H322.338V295.587H560.256V293.774Z" fill="white"/>
            <path d="M426.958 300.505H322.338V302.318H426.958V300.505Z" fill="white"/>
            <path d="M560.256 300.505H542.647V302.318H560.256V300.505Z" fill="white"/>
            <path d="M344.945 317.553H449.564V315.741H344.945V317.553Z" fill="white"/>
            <path d="M322.289 324.331L560.207 324.331V322.519L322.289 322.519V324.331Z" fill="white"/>
            <path d="M455.597 317.553H560.216V315.741H455.597V317.553Z" fill="white"/>
            <path d="M322.267 317.553H339.876V315.741H322.267V317.553Z" fill="white"/>
            <path d="M560.256 307.236H322.338V309.049H560.256V307.236Z" fill="white"/>
            <path d="M537.598 338.109H432.979V339.921H537.598V338.109Z" fill="white"/>
            <path d="M560.256 331.378H322.338V333.19H560.256V331.378Z" fill="white"/>
            <path d="M426.958 338.109H322.338V339.921H426.958V338.109Z" fill="white"/>
            <path d="M560.257 338.109H542.647V339.921H560.257V338.109Z" fill="white"/>
            <path d="M344.945 355.215H449.564V353.403H344.945V355.215Z" fill="white"/>
            <path d="M322.289 361.928L560.207 361.928V360.116L322.289 360.116V361.928Z" fill="white"/>
            <path d="M455.597 355.215H560.216V353.403H455.597V355.215Z" fill="white"/>
            <path d="M322.267 355.215H339.876V353.403H322.267V355.215Z" fill="white"/>
            <path d="M560.256 344.84H322.338V346.652H560.256V344.84Z" fill="white"/>
            <path d="M581.685 280.83H571.845V431.697H581.685V280.83Z" fill="#ADCFE0"/>
            <path d="M906.29 213.842H601.625V249.439H906.29V213.842Z" fill="#31A1F4"/>
            <path d="M906.29 249.439H601.625V431.633H906.29V249.439Z" fill="#F7F7F7"/>
            <path d="M579.872 282.965H573.657C572.622 282.965 571.845 283.807 571.845 284.778V291.962C571.845 292.997 572.686 293.774 573.657 293.774H579.872C580.908 293.774 581.685 292.933 581.685 291.962V284.778C581.75 283.807 580.908 282.965 579.872 282.965Z" fill="#E9F8FF"/>
            </svg>
    </div>
   
    <div class="flex-item-right" data-aos="fade-right">
  <h2 style="margin-top:30vh ; font-size: 60px; text-align: left; ">Welcome to our <br><span style="color: #0051ed; text-align: center;" >Featured</span>Videos</h2>
    

</div>
    
    </div>
  
    <br>
    
   
    <!-- <hr> -->
 

  

  
    <div class="container">
        <h2 style="font-size:20 ; text-align: left; padding-top: 20px; font-weight: bold;">Meditation</h2>
        
        <% for(var i=0;i<he.length;i++){ %>
          <br>
          <div class="fe" style="display: flex;">
          <video width="320" height="240" controls="controls autoplay" style="margin-left: 5vh;">
            <source src="upload/<%=he[i] %>" type="video/mp4" />
          </video>
         
          <% } %> 
        <!--  
          
         <!-- <div class="container" style="width: 350; height: 240; background-color: rgb(14, 13, 13); margin-left: 15vh;" > --> 
          <!-- <video width="320" height="210" controls="controls autoplay" style="margin-left: 5vh; margin-top: 4.5vh;">
            <h3>View More</h3>
            <source src="#" type="video/mp4" />
          </video> -->
         <!-- </div> -->
         <h3 style="margin-left: 20vh; margin-top: 110px;"> <a href="/videof">View More</a> </h3>
        </div>
        </div>
 <br>
 <br>
 
 <div class="container">
    <h2 style="font-size:20 ; text-align: left; padding-top: 20px; font-weight: bold;" >Excersice</h2>
    
    <% for(var i=0;i<he1.length;i++){ %>
      <br>
      <div class="fe" style="display: flex;">
      <video width="320" height="240" controls="controls autoplay" style="margin-left: 5vh;">
        <source src="upload1/<%=he1[i] %>" type="video/mp4" />
      </video>
     
      <% } %> 
    <!--  
      
     <!-- <div class="container" style="width: 350; height: 240; background-color: rgb(14, 13, 13); margin-left: 15vh;" > --> 
      <!-- <video width="320" height="210" controls="controls autoplay" style="margin-left: 5vh; margin-top: 4.5vh;">
        <h3>View More</h3>
        <source src="#" type="video/mp4" />
      </video> -->
     <!-- </div> -->
     <h3 style="margin-left: 20vh; margin-top: 110px;"> <a href="/video1">View More</a> </h3>
    </div>
    </div>
    <br>
    <br>
    <div class="container">
        <h2 style="font-size:20 ; text-align: left; padding-top: 20px; font-weight: bold;" >Peace video</h2>
        
        <% for(var i=0;i<he2.length;i++){ %>
          <br>
          <div class="fe" style="display: flex;">
          <video width="320" height="240" controls="controls autoplay" style="margin-left: 5vh;">
            <source src="upload2/<%=he2[i] %>" type="video/mp4" />
          </video>
         
          <% } %> 
        <!--  
          
         <!-- <div class="container" style="width: 350; height: 240; background-color: rgb(14, 13, 13); margin-left: 15vh;" > --> 
          <!-- <video width="320" height="210" controls="controls autoplay" style="margin-left: 5vh; margin-top: 4.5vh;">
            <h3>View More</h3>
            <source src="#" type="video/mp4" />
          </video> -->
         <!-- </div> -->
         <h3 style="margin-left: 20vh; margin-top: 110px;"> <a href="/video2">View More</a> </h3>
        </div>
        </div>


 <br>
 <br>
 <br>
 <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
      
  
        <h4>Courses</h4>
        <ul>
          <li><a href="/videof">Meditation</a></li>
          <li><a href="/video1">Exercise</a></li>
          <li><a href="/video2">Peace Video</a></li>
          <br>
          <br>
          <br><br><br>
          <!-- <li><img src="css/Webify.png" width="110px" height="40px" alt=""></li> -->
          
        </ul>
      </div>

      <div class="footer-col">
        <h4>Additional Info</h4>
        <ul>
          <li><a href="#">T&C</a></li>
          <li><a href="https://cowin-chat.glitch.me/index.html">Have a Doubt? Chat with us</a></li>
          <li><a href="#">Cookie Policy</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <!-- <p>Webify is an educational website that will help you become a full-stack web developer with courses tailored for anyone and everyone - a beginner can start learning from scratch & a novice and brush up on their skills.</p> -->
        </div>
      </div>
    </div>
  </div>
</footer>

 
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://kit.fontawesome.com/ae8f1db1af.js" crossorigin="anonymous"></script>



</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/register" method="POST">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Enter your email:</label>
              <input type="text" class="form-control" id="recipient-name" name="username">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Number</label>
              <input type="text" class="form-control" id="recipient-name" name="number">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">password</label>
              <input type="text" class="form-control" id="recipient-name" name="password">
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Register</button>
            </div>
          </form>
        </div>
       
      </div>
    </div>

  </div>
  <br>
 
  <div class="container"></div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>